<?xml version="1.0"?>
<phpunit
	bootstrap="bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="unit">
			<directory suffix="_Test.php">./unit</directory>
		</testsuite>
	</testsuites>
</phpunit>
