.bluesky-social-integration-last-post {
    --bluesky-card-bg: white;
    --bluesky-card-txt: #0b0f14;
    --bluesky-card-txt-alt: rgb(66, 87, 108);
    --bluesky-image-br: var(--bluesky-card-avatar-size);
    --bluesky-primary-color: #1083fe;
    --bluesky-card-border: 1px solid rgb(212, 219, 226);
    --bluesky-card-br: 8px;
    --bluesky-card-spacing: 16px;
    --bluesky-card-avatar-size: 90px;
}

.bluesky-social-integration-last-post.has-no-posts {
    padding: 24px;
    text-align: center;
}

.bluesky-social-integration-last-post.has-no-posts svg {
    padding: 16px;
    color: color-mix(in srgb, var(--bluesky-card-txt) 20%, var(--bluesky-card-txt) 20%);
    background: color-mix(in srgb, var(--bluesky-card-txt) 5%, var(--bluesky-card-txt) 5%);
    border-radius: 50%;
}

.bluesky-social-integration-last-post.has-no-posts p {
    font-size: 1.1rem;
    font-weight: 600;
    color: color-mix(in srgb, var(--bluesky-card-txt) 30%, var(--bluesky-card-txt) 30%);
}

.bluesky-social-integration-last-post img {
    max-width: 100%;
    height: auto;
}

.bluesky-social-integration-embedded-record,
.bluesky-social-integration-last-post {
    background: var(--bluesky-card-bg)!important;
    border: var(--bluesky-card-border)!important;
    padding: 0;
    list-style: none!important;
    border-radius: var(--bluesky-card-br)!important;
    color: var(--bluesky-card-txt)!important;
}

.bluesky-social-integration-embedded-record p,
.bluesky-social-integration-last-post p {
    color: var(--bluesky-card-txt)!important;
}

.bluesky-social-integration-last-post-list,
.bluesky-social-integration-last-post-item {
    padding: 0;
    margin: 0;
    position: relative;
    list-style: none!important;
}

.bluesky-social-integration-last-post-item,
.bluesky-social-integration-embedded-record {
    display: flex;
    gap: 8px;
    padding: 16px 8px;
}

.bluesky-social-integration-embedded-record.has-image {
    padding: 0;
    overflow: hidden;
}

.bluesky-social-integration-embedded-record p:first-child {
    margin-top: 0;
}

.bluesky-social-integration-embedded-record p:last-child {
    margin-bottom: 0;
}

.bluesky-social-integration-external-content-title {
    font-weight: bold!important;
    font-size: 1.1em!important;
}

.bluesky-social-integration-external-content-url {
    display: flex;
    align-items: center;
    gap: 0.25em;
    opacity: 0.7;
    font-size: .875em!important;
}

.bluesky-social-integration-embedded-record.has-image .bluesky-social-integration-external-content {
    padding: 8px;
}

.bluesky-social-integration-last-post-item + .bluesky-social-integration-last-post-item {
    border-top: var(--bluesky-card-border)!important;
}

.bluesky-social-integration-last-post-link {
    position: absolute;
    inset: 0;
}

.bluesky-social-integration-last-post-item p,
.bluesky-social-integration-last-post-item .bluesky-social-integration-last-post-content a,
.bluesky-social-integration-post-content-text {
    position: relative;
    z-index: 1;
}

.bluesky-social-integration-last-post-header {
    flex-shrink: 0;
}

.bluesky-social-integration-last-post-header .avatar {
    width: 42px!important;
    height: 42px!important;
    border-radius: 21px!important;
}

.bluesky-social-integration-post-account-info-names.bluesky-social-integration-post-account-info-names {
    margin: 0!important;
    font-size: 1em!important;
    color: var(--bluesky-card-txt-alt)!important;
}

.bluesky-social-integration-post-account-info-name.bluesky-social-integration-post-account-info-name {
    color: var(--bluesky-card-txt-alt)!important;
    font-weight: bold!important;
}

.bluesky-social-integration-post-starterpack-name {
    font-weight: bold!important;
    font-size: 1.2em!important;
}

.bluesky-social-integration-post-account-info-date::before {
    content: ' · ';
}

.bluesky-social-integration-last-post-content {
    word-wrap: break-word!important;
    word-break: break-word!important;
    font-size: 15px!important;
}

.bluesky-social-integration-last-post-content video {
    max-width: 100%;
    height: auto;
    max-height: 420px;
}

.bluesky-social-integration-last-post-content > :first-child {
    margin-top: 0;
}

.bluesky-social-integration-last-post-content > :last-child {
    margin-bottom: 0;
}

.bluesky-social-integration-embedded-record {
    margin-top: 16px;
    text-decoration: none!important;
    color: inherit!important;
}

.bluesky-social-integration-post-gallery {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    gap: 4px;
    margin-top: 8px;
}

.bluesky-social-integration-post-gallery img {
    border-radius: 4px;
}

.bluesky-social-integration-post-gallery .bluesky-gallery-image {
    display: inline-flex;
}


/**
 * Styles for the profile card darkmode
 */
@media (prefers-color-scheme: dark) {
    .bluesky-social-integration-last-post.theme-system {
        --bluesky-card-bg: #161e27;
        --bluesky-card-txt: white;
        --bluesky-card-txt-alt: #aebbc9;
        --bluesky-card-border: 1px solid #2e4052;
        --bluesky-primary-color: #208BFE;
    }
}

.bluesky-social-integration-last-post.theme-dark {
    --bluesky-card-bg: #161e27;
    --bluesky-card-txt: white;
    --bluesky-card-txt-alt: #aebbc9;
    --bluesky-card-border: 1px solid #2e4052;
    --bluesky-primary-color: #208BFE;
}

.bluesky-social-integration-last-post.theme-light {
    --bluesky-card-bg: white;
    --bluesky-card-txt: #0b0f14;
    --bluesky-card-txt-alt: rgb(66, 87, 108);
    --bluesky-card-border: 1px solid rgb(212, 219, 226);
    --bluesky-primary-color: #1083fe;
}