.bluesky-social-integration-admin .bluesky-social-integration-profile-card {
    max-width: 560px;
    width: 100%;
}

.bluesky-social-integration-admin .container {
    --gap: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.bluesky-social-integration-admin .postbox {
    box-sizing: content-box;
    padding: 0 var(--gap);
    flex-basis: calc(40% - (var(--gap) * 3));
}

.bluesky-social-integration-admin .postbox:first-child {
    flex-basis: calc(60% - (var(--gap) * 3));
}

.bluesky-social-integration-admin .postbox .submit {
    margin-bottom: 0;
}

@media screen and (max-width: 720px) {
    .bluesky-social-integration-admin .postbox.postbox {
        flex-basis: 100%;
    }   
}

.bluesky-social-demo.container {
    flex-wrap: nowrap;
}

.bluesky-social-demo .demo {
    flex-basis: 100%;
}

.bluesky-social-integration-admin h1 {
    font-weight: bold;
    margin: 1em 0;
}

.bluesky-social-integration-admin .cache-duration-fields label {
    margin-right: 15px;
}

.bluesky-social-integration-admin .cache-status {
    margin-top: 10px;
    padding: 10px;
    background: #f8f8f8;
    border-left: 4px solid #646970;
}

.bluesky-social-integration-admin .cache-status p {
    margin: 5px 0;
}

.bluesky-social-integration-admin .bluesky-connection-check {
    display: inline-block;
    margin-top: 8px;
    padding: 8px;
    background: white;
    border-left: 4px solid #00a32a;
}

.bluesky-social-integration-admin .bluesky-connection-check p {
    margin: 0;
}

.bluesky-social-integration-admin .bluesky-connection-check.notice-error {
    border-left-color: darkred;
}

.bluesky-social-integration-admin p {
    margin: 1em 0;
}

.bluesky-social-integration-admin ul {
    list-style: disc;
    margin: 1em 0 1em 1em;
}

.bluesky-social-integration-admin ul ul {
    list-style: circle;
}

.bluesky-social-integration-admin .postbox hr {
    margin: 2.5em auto 1.5em;
}

.bluesky-social-integration-admin .button {
    font-size: 14px;
    padding: 4px 16px;
}
